/* ------- Global class ------- */

body {
    background-color: #182024;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: Bungee;
    color: #fff;
    font-size: 1.75rem;
}

h6 {
    font-family: Roboto Mono;
    font-weight: 600;
    font-size: 0.75rem;
    color: #a0aec0;
}

p {
    font-family: Roboto Mono;
    font-weight: normal;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

/* ---x--- Global class ---x--- */


/* ------- Navigation -------*/

.nav {
    width: 100%;
    min-height: 10vh;
    background-color: #2d3748;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    box-shadow: 0rem 0.5rem 2rem #182024;
}

.nav .container {
    width: 80%;
    margin: auto;
}

/* ------- Logo ALFAN's WORLD -------*/

.nav .logo {
    font-size: 2rem;
    font-family: Bungee;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.nav .logo:hover {
    color: aquamarine;
    scale: 0.95;
}

/* ---x--- Logo ALFAN's WORLD ---x---*/

/* ------- Navigation Menu -------*/

.nav .menu {
    font-size: 1rem;
    font-family: Roboto Mono;
    font-weight: 500;
    color: #2d3748;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.nav .menu li {
    margin: 0 2rem;
}

.nav .menu li a {
    color: #fff;
}

.nav .menu li a:hover{
    color: #d18df0;
    border-bottom: 0.15rem solid #d18df0;
    transition: all 0.3s ease;
}

/* ---x--- Navigation Menu ---x---*/

/* ------- Social Media -------*/

.social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social .container{
    margin: auto;
    width: 60%;
    background-color: aquamarine;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    display: flex;
    justify-content: center;
}

.social .container a {
    margin: 0 2rem;
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.25rem 0;
    color: #2d3748;
}

.social .container a:hover {
    background-color: #d18df0;
    color: white;
}

/* ---x--- Social Media ---x---*/

/* ---x--- Navigation ---x---*/

/* ------- Profile Card ------- */

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 5rem;
}

.profile .profile-card {
    width: 80%;
    background-color: #2d3748;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 0;;
    box-shadow: 0rem 0.5rem 2rem #182024;
}

.profile .profile-card .container img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    box-shadow: 0rem 0.5rem 2rem #182024;
    margin-right: 3rem;
}

.profile .profile-card .container img:hover {
    width: 7em;
    height: 7em;
    border-style: solid;
    border-width: 0.5rem;
    border-color: aquamarine;
}

.profile .profile-card .container{
    padding: 3rem;
    padding-bottom: 3rem;
}

.profile .profile-card .container .flex-row{
    display: flex;
    justify-content: center;
}

.profile .profile-card .container .flex-block{
    margin-top: 1rem;
    display: block;
}

.profile .profile-card .container .flex-block h6{
    margin-top: -1rem;
}

.profile .profile-card .container .text-wrap {
    padding-top: 2.5rem;
    margin: 0 5rem;
}

.profile .profile-card .container .text-wrap a {
    color: #d18df0;
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 1rem;
}

.profile .profile-card .container .text-wrap a:hover {
    border-bottom: 0.15rem solid #d18df0;
}

/* ---x--- Profile Card ---x--- */

/* ------- Footer ------- */

.footer {
    width: 100%;
    background-color: aquamarine;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.footer .desktop-footer {
    color: #2d3748;
    text-align: center;
    font-size: 0.75rem;
}

.mobile-footer {
    display: none;
    color: #2d3748;
    text-align: center;
    font-size: 0.75rem;
}

/* ---x--- Footer ---x--- */

/* ------------------- Media Queries ------------------- */

@media only screen and (max-width: 996px) {
    .profile .profile-card .container .flex-row{
        scale: 0.9;
    }
    .profile .profile-card .container .text-wrap {
        margin: 0 1.5rem;
    } 
}

@media only screen and (max-width: 698px) {
    .nav .menu {
        display: block;
        text-align: center;
    }

    .nav .menu li {
        margin: 1rem 0;
    }

    .social .container{
        width: 90%;
    }

    .profile .profile-card .container img {
        margin: 0 auto;
    }

    .profile .profile-card .container .flex-row{
        display: block;
        text-align: center;
    }

    .profile .profile-card .container .text-wrap {
        margin: 0 1rem;
        margin-top: -2rem;
    }

    .footer .desktop-footer {
        display: none;
    }

    .footer .mobile-footer {
        display: block;
    }
}

/* --------x---------- Media Queries ----------x-------- */