/* ------- Global class ------- */

body {
    background-color: #182024;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: Bungee;
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}

h2 {
    font-family: Bungee;
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

h3 {
    font-family: Roboto Mono;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.025rem;
}

h6 {
    font-family: Roboto Mono;
    font-weight: 600;
    font-size: 0.75rem;
    color: #a0aec0;
}

p {
    font-family: Roboto Mono;
    font-weight: normal;
    color: #a0aec0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}

/* ---x--- Global class ---x--- */


/* ------- Navigation -------*/

.nav {
    width: 100%;
    background-color: #2d3748;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    box-shadow: 0rem 0.5rem 2rem #182024;
}

.nav .container {
    width: 80%;
    margin: auto;
}

/* ------- Logo ALFAN's WORLD -------*/

.nav .logo {
    font-size: 2rem;
    font-family: Bungee;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
    scale: 1;
    transition: scale 0.3s;
}

.nav .logo:hover {
    color: aquamarine;
    scale: 0.95;
}

/* ---x--- Logo ALFAN's WORLD ---x---*/

/* ------- Navigation Menu -------*/

.nav .menu {
    font-size: 1rem;
    font-family: Roboto Mono;
    font-weight: 500;
    color: #2d3748;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.nav .menu li {
    margin: 0 2rem;
}

.nav .menu li a {
    color: #fff;
    border-bottom: 0rem solid #d18df0;
    transition: border-bottom 0.3s, color 0.3s;
}

.nav .menu li a:hover{
    color: #d18df0;
    border-bottom: 0.15rem solid #d18df0;
}

/* ---x--- Navigation Menu ---x---*/

/* ------- Social Media -------*/

.social {
    width: 100%;
    display: block;
    text-align: center;
    /* position: relative;
    top: 1rem; */
    /* background-color: red; */
}

.social .container {
    margin: 0 auto;
    width: 60%;
    background-color: aquamarine;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    justify-content: space-evenly;

    position: relative;
    top: 0rem;
    margin-bottom: 0rem;
    transition: top 0.7s, margin-bottom 0.7s, border-radius 0.3s;
}

.social .container:hover {
    position: relative;
    top: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.social .container a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    /* background-color: red; */
}

.social .container a:hover {
    background-color: #d18df0;
    border-radius: 1rem;
}

.social .container a p {
    margin: 0;
    width: 100%;
    padding: 0.75rem 0;
    font-family: Roboto Mono;
    letter-spacing: 0.0125rem;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    color: #2d3748;
    /* background-color: red; */
}

.social .container a p:hover {
    color: #fff;
}

.social .container a img {
    padding: 0.5rem 0;
    margin-left: 3rem;
    border-radius: 0;
    box-shadow: none;
    height: 1.5rem;
    width: 1.5rem;
    /* background-color: yellow; */
    display: none;
}

.social .container a img:hover {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #d18df0;
    border: #d18df0;
}

/* ---x--- Social Media ---x---*/

/* ---x--- Navigation ---x---*/

/* ------- Profile Card ------- */

.profile {
    width: 100%;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */
    /* align-content: center; */
    margin: 0 auto;
    padding: 3rem 0rem;
    /* background-color: red; */
}

.profile .profile-card {
    width: 80%;
    background-color: #2d3748;
    border-radius: 2rem;
    padding: 2rem 0;
    /* margin-top: 0rem; */
    box-shadow: 0rem 0.5rem 2rem #182024;
}

.profile img {
    width: 8em;
    height: 8em;
    border-style: solid;
    border-width: 0rem;
    border-color: aquamarine;
    border-radius: 50%;
    box-shadow: 0rem 0.5rem 2rem #182024;
    margin-right: 3rem;
    transition: width 0.5s, height 0.5s, border-width 0.7s;
}

.profile img:hover {
    width: 9em;
    height: 9em;
    border-style: solid;
    border-width: 0.5rem;
    border-color: aquamarine;
}

.profile .profile-card .container{
    padding: 3rem;
    padding-bottom: 3rem;
}

.profile .flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .flex-block{
    margin-top: 1rem;
    display: block;
}

.profile h6{
    margin-top: -1rem;
}

.profile .text-wrap {
    padding-top: 2.5rem;
    margin: 0 5rem;
}

.profile a {
    color: #d18df0;
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 0rem solid #d18df0;
    transition: border-bottom 0.3s;
}

.profile a:hover {
    border-bottom: 0.15rem solid #d18df0;
}

/* ---x--- Profile Card ---x--- */

/* ------- Hobbies -------- */
.hobbies {
    width: 100%;
    min-height: calc(100vh - 6rem);
    padding: 2.5rem 0 2rem 0;
    /* background-color: red; */
}

.hobbies h1 {
    text-align: center;
}

.hobbies .cards-container {
    width: calc(100% - 1.5rem);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    /* background-color: yellow; */
}

.hobbies .hobbies-card {
    width: 20rem;
    margin: 1.5rem 1.5rem;
    padding: 1rem;
    border: 0 solid;
    border-radius: 2rem;
    background-color: #2d3748;
    display: flex;
    justify-content: center;
    /* background-color: #f53; */
    scale: 1;
    transition: scale 0.5s;
}

.hobbies .hobbies-card:hover {
    scale: 1.05;
}

.hobbies .container {
    width: 100%;
    /* margin: 1rem; */
    background-color: #2d3748;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}

.hobbies img {
    margin-top: 1rem;
    height: 15em;
    /* background-color: purple; */
    scale: 1;
    transition: scale 0.5s;
}

.hobbies img:hover {
    scale: 0.9;
}

.hobbies h2 {
    text-align: center;
    /* background-color: blue; */
}

.hobbies p {
    margin-top: 2rem;
    text-align: center;
    padding: 0rem 1.25rem;
    /* background-color: orange; */
}

.hobbies a {
    margin-top: 1.5rem;
    text-align: center;
    color: #fff;
    width: 100%;
    font-family: Roboto Mono;
    padding: 0.75rem 0rem;
    border: 0 solid;
    border-radius: 1rem;
    background-color: #3b465a;
    transition: background-color 0.3s;
}

.hobbies a:hover {
    background-color: #47546b;
}

/* ---x--- Hobbies ---x---- */

/* ------- Footer ------- */

.footer {
    width: 100%;
    background-color: aquamarine;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.footer .desktop-footer {
    color: #2d3748;
    text-align: center;
    font-size: 0.75rem;
}

.mobile-footer {
    display: none;
    color: #2d3748;
    text-align: center;
    font-size: 0.75rem;
}

/* ---x--- Footer ---x--- */

/* ------------------- Media Queries ------------------- */

@media only screen and (max-width: 996px) {
    .profile .profile-card .container .flex-row{
        scale: 0.9;
    }

    .profile .profile-card .container .text-wrap {
        margin: 0 1.5rem;
    } 

    .hobbies .hobbies-card {
        width: 75%;
    }
}

@media only screen and (max-width: 698px) {
    .nav .menu {
        display: block;
        text-align: center;
        margin-left: -2.5rem;
    }

    .nav .menu li {
        margin: 1rem 0;
    }

    .social .container{
        width: 60%;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .social .container:hover {
        position: relative;
        top: 0.3rem;
    }

    .social .container a p {
        display: none;
    }

    .social .container a img {
        display: unset;
    }

    .profile .profile-card .container img {
        margin: 0 auto;
    }

    .profile .profile-card .container .flex-row{
        display: block;
        text-align: center;
    }

    .profile .profile-card .container .text-wrap {
        margin: 0 0rem;
        margin-top: -2rem;
    }

    .profile .profile-card .container .text-wrap p {
        text-align: center;
    }

    .profile .profile-card .container .text-wrap a {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .footer .desktop-footer {
        display: none;
    }

    .footer .mobile-footer {
        display: block;
    }
}

/* --------x---------- Media Queries ----------x-------- */